<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<header class="header" id="inicio">

  <div class="contenedor head">
    <h1 class="titulo">Los Libros Nutren la Mente</h1>
  </div>
</header>

<div class="tiulo2">
  <h1 class="tiulo2">Libros Mas Reconocidos.</h1>
</div>


<!-- Informacion -->
<div class="container1">
  <div class="row">
    <div class="col-md-4">
      <div class="content"> <a
          href="https://www.google.com/webhp?hl=es-419&sa=X&ved=0ahUKEwiFnNzAu7L3AhUkSjABHdWFAekQPAgI">
          <div class="content-overlay"></div> <img class="content-image" src="assets/Recursos/Imagenes/tres.jpg">
          <div class="content-details fadeIn-bottom">
            <h3 class="content-title">Lewis Carroll</h3>

          </div>
        </a> </div>
    </div>
    <div class="col-md-4">
      <div class="content"> <a
          href="https://www.google.com/webhp?hl=es-419&sa=X&ved=0ahUKEwiFnNzAu7L3AhUkSjABHdWFAekQPAgI">
          <div class="content-overlay"></div> <img class="content-image"
            src="assets/Recursos/Imagenes/segunda.jpg">
          <div class="content-details fadeIn-bottom">
            <h3 class="content-title">Dra. Suthersanen</h3>

          </div>
        </a> </div>
    </div>
    <div class="col-md-4">
      <div class="content"> <a
          href="https://www.google.com/webhp?hl=es-419&sa=X&ved=0ahUKEwiFnNzAu7L3AhUkSjABHdWFAekQPAgI">
          <div class="content-overlay"></div> <img class="content-image" src="assets/Recursos/Imagenes/UNO.jpg">
          <div class="content-details fadeIn-bottom">
            <h3 class="content-title"> Tolkien</h3>

          </div>
        </a> </div>
    </div>
  </div>
</div>


<!--PRODUCTOS LIBRO-->
<div >
  <br>
  <br>
  <h1 class="display-4 subtit">LIBROS DE CIENCIA FICCION</h1>
  <div id="contedorprincipal2">
    <!-- flip-card-container -->
    <div class="flip-card-container" style="--hue: 220" *ngFor="let Libro of listasFiccion">
      <div class="flip-card">

        <div class="card-front">
          <figure>
            <div class="img-bg"></div>
            <img src={{Libro.portada}} height="460" width="320">
          
          </figure>

          <ul>
            <li>{{Libro.titulo}}</li>
            <li>Autor: {{Libro.idAuto.nombreAutor}}</li>
            <li>Categoria: {{Libro.idCategori.nombre}}</li>
            <li>Isbn:{{Libro.isbn}}</li>
            <li>
              <p class="ticket__current-price">$ {{Libro.precio}}</p>
            </li>
          </ul>
        </div>

        <div class="card-back">
          <figure>
            <div class="img-bg"></div>
            <img src={{Libro.portada}} height="460" width="320">
            <p>{{Libro.descripcion}}</p>
          </figure>

          <button>Comprar</button>

          <div class="design-container">
            <span class="design design--1"></span>
            <span class="design design--2"></span>
            <span class="design design--3"></span>
            <span class="design design--4"></span>
            <span class="design design--5"></span>
            <span class="design design--6"></span>
            <span class="design design--7"></span>
            <span class="design design--8"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div >
  <br>
  <br>
  <h1 class="display-4 subtit">LIBROS DE MISTERIOS</h1>
  <div id="contedorprincipal2">
    <!-- flip-card-container -->
    <div class="flip-card-container" style="--hue: 220" *ngFor="let Libro of listasMisterio">
      <div class="flip-card">

        <div class="card-front">
          <figure>
            <div class="img-bg"></div>
            <img src={{Libro.portada}} height="460" width="320">
          </figure>

          <ul>
            <li>{{Libro.titulo}}</li>
            <li>Autor: {{Libro.idAuto.nombreAutor}}</li>
            <li>Categoria: {{Libro.idCategori.nombre}}</li>
            <li>Isbn:{{Libro.isbn}}</li>
            <li>
              <p class="ticket__current-price">$ {{Libro.precio}}</p>
            </li>
          </ul>
        </div>

        <div class="card-back">
          <figure>
            <div class="img-bg"></div>
            <img src={{Libro.portada}} height="460" width="320">
            <p>{{Libro.descripcion}}</p>
          </figure>

          <button>Comprar</button>

          <div class="design-container">
            <span class="design design--1"></span>
            <span class="design design--2"></span>
            <span class="design design--3"></span>
            <span class="design design--4"></span>
            <span class="design design--5"></span>
            <span class="design design--6"></span>
            <span class="design design--7"></span>
            <span class="design design--8"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div>
  <br>
  <br>
  <h1 class="display-4 subtit">LIBROS CLASICOS</h1>
  <div id="contedorprincipal2">
    <!-- flip-card-container -->
    <div class="flip-card-container" style="--hue: 220" *ngFor="let Libro of listasClasico">
      <div class="flip-card">

        <div class="card-front">
          <figure>
            <div class="img-bg"></div>
            <img src={{Libro.portada}} height="460" width="320">
          </figure>

          <ul>
            <li>{{Libro.titulo}}</li>
            <li>Autor: {{Libro.idAuto.nombreAutor}}</li>
            <li>Categoria: {{Libro.idCategori.nombre}}</li>
            <li>Isbn:{{Libro.isbn}}</li>
            <li>
              <p class="ticket__current-price">$ {{Libro.precio}}</p>
            </li>
          </ul>
        </div>

        <div class="card-back">
          <figure>
            <div class="img-bg"></div>
            <img src={{Libro.portada}} height="460" width="320">
            <p>{{Libro.descripcion}}</p>
          </figure>

          <button>Comprar</button>

          <div class="design-container">
            <span class="design design--1"></span>
            <span class="design design--2"></span>
            <span class="design design--3"></span>
            <span class="design design--4"></span>
            <span class="design design--5"></span>
            <span class="design design--6"></span>
            <span class="design design--7"></span>
            <span class="design design--8"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div >
  <br>
  <br>
  <h1 class="display-4 subtit">LIBROS DE FANTASIAS</h1>
  <div id="contedorprincipal2">
    <!-- flip-card-container -->
    <div class="flip-card-container" style="--hue: 220" *ngFor="let Libro of listasFantasia">
      <div class="flip-card">

        <div class="card-front">
          <figure>
            <div class="img-bg"></div>
            <img src={{Libro.portada}} height="460" width="320">
           
          </figure>

          <ul>
            <li>{{Libro.titulo}}</li>
            <li>Autor: {{Libro.idAuto.nombreAutor}}</li>
            <li>Categoria: {{Libro.idCategori.nombre}}</li>
            <li>Isbn:{{Libro.isbn}}</li>
            <li>
              <p class="ticket__current-price">$ {{Libro.precio}}</p>
            </li>
          </ul>
        </div>

        <div class="card-back">
          <figure>
            <div class="img-bg"></div>
            <img src={{Libro.portada}} height="460" width="320">
            
          </figure>
        
          <button>Comprar</button>

          <div class="design-container">
            <span class="design design--1"></span>
            <span class="design design--2"></span>
            <span class="design design--3"></span>
            <span class="design design--4"></span>
            <span class="design design--5"></span>
            <span class="design design--6"></span>
            <span class="design design--7"></span>
            <span class="design design--8"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<!-- end product 
<button mat-raised-button color="accent" (click)="openDialogAgregar()"> Agregar</button>

-->



<!-- Va a oferta -->

<section class="questions__offer">
  <h2 class="subtitle">¿Quieres ver Nuestras Ofertas ?</h2>
  <p class="questions__copy">Aprovecha las mejores ofertas que te ofrece nuestra pagina .</p>
  <a href=" oferta" class="cta">Ir a Ofertas</a>
</section>

<div class="preguntas">
  <h3>Preguntas Frecuentes</h3>
</div>

<!-- Acordion. -->
<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        ¿Es Seguro Comprar en este Pagina?
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
      data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Por supuesto ,la seguridad es algo que se garantiza como servicio de nuestra pagina
        porque valoramos la confianza de nuestros clientes. </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        ¿Qué beneficios tiene adquirir este producto?
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
      data-bs-parent="#accordionFlushExample">
      <div class="accordion-body"> Nuestros productos son de entretenimiento y ayuda a mejorar la capacidad humana como
        el aumenta en la comprensión, atención,
        observación, concentración, reflexión / pensamiento crítico y memoria de las personas ademas que ofrecesmos
        variedad de libros.
      </div>
    </div>
  </div>

</div>
<div class="imgLoader"></div>

<div class="container">

  <h1 class="title">
    Gracias por Visitarnos.
  </h1>

  <div class="credit">
    * Images loaded randomly from Picsum.photos
  </div>

  <div class="book">
    <div class="gap"></div>
    <div class="pages">
      <div class="page"></div>
      <div class="page"></div>
      <div class="page"></div>
      <div class="page"></div>
      <div class="page"></div>
      <div class="page"></div>
    </div>
    <div class="flips">
      <div class="flip flip1">
        <div class="flip flip2">
          <div class="flip flip3">
            <div class="flip flip4">
              <div class="flip flip5">
                <div class="flip flip6">
                  <div class="flip flip7"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>