<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<header class="header" id="inicio">

  <div class="contenedor head">
    <h1 class="titulo">Los Libros Nutren la Mente</h1>
  </div>
</header>

<div class="tiulo2">
  <h1 class="tiulo2">Libros Mas Reconocidos.</h1>
</div>


<!-- Informacion -->
<div class="container1">
  <div class="row">
    <div class="col-md-4">
      <div class="content"> <a
          href="https://www.google.com/webhp?hl=es-419&sa=X&ved=0ahUKEwiFnNzAu7L3AhUkSjABHdWFAekQPAgI">
          <div class="content-overlay"></div> <img class="content-image" src="../../assets/Recursos/Imagenes/tres.jpg">
          <div class="content-details fadeIn-bottom">
            <h3 class="content-title">Lewis Carroll</h3>

          </div>
        </a> </div>
    </div>
    <div class="col-md-4">
      <div class="content"> <a
          href="https://www.google.com/webhp?hl=es-419&sa=X&ved=0ahUKEwiFnNzAu7L3AhUkSjABHdWFAekQPAgI">
          <div class="content-overlay"></div> <img class="content-image"
            src="../../assets/Recursos/Imagenes/segunda.jpg">
          <div class="content-details fadeIn-bottom">
            <h3 class="content-title">Dra. Suthersanen</h3>

          </div>
        </a> </div>
    </div>
    <div class="col-md-4">
      <div class="content"> <a
          href="https://www.google.com/webhp?hl=es-419&sa=X&ved=0ahUKEwiFnNzAu7L3AhUkSjABHdWFAekQPAgI">
          <div class="content-overlay"></div> <img class="content-image" src="../../assets/Recursos/Imagenes/UNO.jpg">
          <div class="content-details fadeIn-bottom">
            <h3 class="content-title"> Tolkien</h3>

          </div>
        </a> </div>
    </div>
  </div>
</div>

<!-- -
<button mat-raised-button color="accent" (click)="openDialogAgregar()"> Agregar</button>
<br><br>
<mat-form-field appearance="standard">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ingrese información" #input>
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table table-hover">



  <ng-container matColumnDef="Titulo">
    <th mat-header-cell *matHeaderCellDef> Titulo </th>
    <td mat-cell *matCellDef="let element"> {{element.Titulo}} </td>
  </ng-container>

 
  <ng-container matColumnDef="Nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let element"> {{element.Nombre}} </td>
  </ng-container>

  <ng-container matColumnDef="Categoria">
    <th mat-header-cell *matHeaderCellDef>Categoria </th>
    <td mat-cell *matCellDef="let element"> {{element.Categoria}} </td>
  </ng-container>



  <ng-container matColumnDef="Precio">
    <th mat-header-cell *matHeaderCellDef> Precio </th>
    <td mat-cell *matCellDef="let element"> {{element.Precio}} </td>
  </ng-container>

 

  <ng-container matColumnDef="Descripcion">
    <th mat-header-cell *matHeaderCellDef> Descripcion </th>
    <td mat-cell *matCellDef="let element"> {{element.Descripcion}}</td>
  </ng-container>

  <ng-container matColumnDef="Iva">
    <th mat-header-cell *matHeaderCellDef> Iva</th>
    <td mat-cell *matCellDef="let element"> {{element.Iva}} </td>
  </ng-container>


  <ng-container matColumnDef="Modificar">
    <th mat-header-cell *matHeaderCellDef> Opciones </th>
    <td mat-cell *matCellDef="let element"><button mat-raised-button color="accent"
        (click)="openDialogModificar(element)">Modificar</button></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">Asegurese que la información solicitada exista"{{input.value}}"</td>
  </tr>

</table>-->
<!-- LibroP -->
<div id="lista">

  <h1 class="display-4">Libros 2022</h1>

  <div class="col-xs-12 col-md-6 bootstrap snippets bootdeys">
    <!-- product -->
    <div class="product-content product-wrap clearfix">
      <div class="row">
        <div class="col-md-5 col-sm-12 col-xs-12">
          <div class="product-image">
            <img src="../../assets/Recursos/Imagenes/oscar (1).jpg" alt="60x60" class="img-responsive">

          </div>
        </div>
        <div class="col-md-7 col-sm-12 col-xs-12">
          <div class="product-deatil">
            <h5 class="name">
              <a href="#">
                Titulo: La Bestia <span>Categoria:Drama</span>
              </a>
            </h5>
            <p class="price-container">
              <span>$45</span>
            </p>
            <span class="tag1"></span>
          </div>
          <div class="description">
            <p>Fue un príncipe joven y apuesto que se convirtió en alguien cruel y egocéntrico antes de que una
              hechicera lo transformara en una horrible Bestia </p>
          </div>
          <div class="product-info smart-form">
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-6">
                <a href="javascript:void(0);" class="btn btn-success">Add to cart</a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end product -->
  </div>
  <div class="col-xs-12 col-md-6 bootstrap snippets bootdeys">
    <!-- product -->
    <div class="product-content product-wrap clearfix">
      <div class="row">
        <div class="col-md-5 col-sm-12 col-xs-12">
          <div class="product-image">
            <img src="../../assets/Recursos/Imagenes/oscar (2).jpg" alt="60x60" class="img-responsive">

          </div>
        </div>
        <div class="col-md-7 col-sm-12 col-xs-12">
          <div class="product-deatil">
            <h5 class="name">
              <a href="#">
                Titulo: La chica de Nieve <span>Categoria:Drama</span>
              </a>
            </h5>
            <p class="price-container">
              <span>$100</span>
            </p>
            <span class="tag1"></span>
          </div>
          <div class="description">
            <p>La desaparición de Kiera, de tres años, se convierte en un enigma sin precedentes, y la diferencia aquí,
              es en la fuerza emocional que tiene la historia. </p>
          </div>
          <div class="product-info smart-form">
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-6">
                <a href="javascript:void(0);" class="btn btn-success">Add to cart</a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end product -->
  </div>
  <div class="col-xs-12 col-md-6 bootstrap snippets bootdeys">
    <!-- product -->
    <div class="product-content product-wrap clearfix">
      <div class="row">
        <div class="col-md-5 col-sm-12 col-xs-12">
          <div class="product-image">
            <img src="../../assets/Recursos/Imagenes/oscar (3).jpg" alt="60x60" class="img-responsive">

          </div>
        </div>
        <div class="col-md-7 col-sm-12 col-xs-12">
          <div class="product-deatil">
            <h5 class="name">
              <a href="#">
                Titulo: Nunca <span>Categoria:Misterio y suspense</span>
              </a>
            </h5>
            <p class="price-container">
              <span>$80</span>
            </p>
            <span class="tag1"></span>
          </div>
          <div class="description">
            <p>Ken Follett regresa al thriller con una emocionante novela que imagina lo inimaginable: la inminente
              amenaza de una Tercera Guerra Mundial.</p>
          </div>
          <div class="product-info smart-form">
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-6">
                <a href="javascript:void(0);" class="btn btn-success">Add to cart</a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end product -->
  </div>
  <div class="col-xs-12 col-md-6 bootstrap snippets bootdeys">
    <!-- product -->
    <div class="product-content product-wrap clearfix">
      <div class="row">
        <div class="col-md-5 col-sm-12 col-xs-12">
          <div class="product-image">
            <img src="../../assets/Recursos/Imagenes/oscar (4).jpg" alt="160x260" class="img-responsive">

          </div>
        </div>
        <div class="col-md-7 col-sm-12 col-xs-12">
          <div class="product-deatil">
            <h5 class="name">
              <a href="#">
                Titulo: EL LIBRO NEGRO DE LAS HORAS <span>Categoria: Accion y Comedia</span>
              </a>
            </h5>
            <p class="price-container">
              <span>$50</span>
            </p>
            <span class="tag1"></span>
          </div>
          <div class="description">
            <p> Una carrera contrarreloj entre Vitoria y el Madrid de los bibliófilos para trazar el perfil criminal más
              importante de su vida, uno capaz de modificar el pasado, para siempre.
            </p>
          </div>
          <div class="product-info smart-form">
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-6">
                <a href="javascript:void(0);" class="btn btn-success">Add to cart</a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end product -->
</div>

<!-- Va a oferta -->

<section class="questions__offer">
  <h2 class="subtitle">¿Quieres ver Nuestras Ofertas ?</h2>
  <p class="questions__copy">Aprovecha las mejores ofertas que te ofrece nuestra pagina .</p>
  <a href=" oferta()" class="cta">Ir a Ofertas</a>
</section>

<div class="preguntas">
  <h3>Preguntas Frecuentes</h3>
</div>

<!-- Acordion. -->
<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        ¿Es Seguro Comprar en este Pagina?
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
      data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Por supuesto ,la seguridad es algo que se garantiza como servicio de nuestra pagina
        porque valoramos la confianza de nuestros clientes. </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        ¿Qué beneficios tiene adquirir este producto?
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
      data-bs-parent="#accordionFlushExample">
      <div class="accordion-body"> Nuestros productos son de entretenimiento y ayuda a mejorar la capacidad humana como
        el aumenta en la comprensión, atención,
        observación, concentración, reflexión / pensamiento crítico y memoria de las personas ademas que ofrecesmos
        variedad de libros.
      </div>
    </div>
  </div>

</div>
<div class="imgLoader"></div>

<div class="container">

  <h1 class="title">
    Gracias por Visitarnos.
  </h1>

  <div class="credit">
    * Images loaded randomly from Picsum.photos
  </div>

  <div class="book">
    <div class="gap"></div>
    <div class="pages">
      <div class="page"></div>
      <div class="page"></div>
      <div class="page"></div>
      <div class="page"></div>
      <div class="page"></div>
      <div class="page"></div>
    </div>
    <div class="flips">
      <div class="flip flip1">
        <div class="flip flip2">
          <div class="flip flip3">
            <div class="flip flip4">
              <div class="flip flip5">
                <div class="flip flip6">
                  <div class="flip flip7"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>