<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<h3 class="font-weight-bold mb-0" id="TituloOf">BIENVENIDO CONOCÉ MAS ACERCA DE NUESTRAS OFERTAS</h3>

<div id="imagenes">
  <div class="thumb">
    <a>
      <span>OFERTAS ESPECIALES EN TODOS NUESTROS PRODUCTOS</span>
    </a>
  </div>
  <div class="thumb">
    <a id="Imagen2">
      <span>PRODUCTOS EXCLUSIVOS EN OFERTAS</span>
    </a>
  </div>
  <div class="thumb">
    <a id="Imagen3">
      <span>LAS MEJORES OFERTAS A LA COMODIDAD DE TU BOLSILLO</span>
    </a>
  </div>
</div>

<div class="py-5">
  <h3 class="font-weight-bold mb-0" id="TiposOfertas">TIPOS DE OFERTAS</h3>

  <div class="row row2">
    <!-- DEMO 4 Item-->
    <div class="col-lg-6 mb-3 mb-lg-0">
      <div class="hover hover-4 text-white rounded"><img src="assets/Recursos/Imagenes/verano1.jpg" alt="">
        <div class="hover-overlay"></div>
        <div class="hover-4-content">
          <h3 class="hover-4-title text-uppercase font-weight-bold mb-0"><span class="font-weight-light">Oferta de
            </span>Verano</h3>
          <p class="hover-4-description text-uppercase mb-0 small">
            Esta oferta representa el 15% de descuento para productos exclusivos</p>
        </div>
      </div>
    </div>
    <!-- DEMO 4 Item -->
    <div class="col-lg-6">
      <div class="hover hover-4 text-white rounded"><img src="assets/Recursos/Imagenes/invierno.jpg" alt="">
        <div class="hover-overlay"></div>
        <div class="hover-4-content">
          <h3 class="hover-4-title text-uppercase font-weight-bold mb-0"><span class="font-weight-light">Oferta de
            </span>Invierno</h3>
          <p class="hover-4-description text-uppercase mb-0 small">
            Esta oferta representa el 30% de descuento para elevar nuestras ventas en esta temporada </p>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="hover hover-4 text-white rounded"><img src="assets/Recursos/Imagenes/blackfriday.jpg" alt="">
        <div class="hover-overlay"></div>
        <div class="hover-4-content">
          <h3 class="hover-4-title text-uppercase font-weight-bold mb-0"><span class="font-weight-light">Oferta de
            </span>Fechas Especiales</h3>
          <p class="hover-4-description text-uppercase mb-0 small">
            Esta oferta representa el 50% de descuento por Black Friday, Cyber Monday, Día de las Madres o padre,
            Navidad</p>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="hover hover-4 text-white rounded"><img src="assets/Recursos/Imagenes/cierre.jpg" alt="">
        <div class="hover-overlay"></div>
        <div class="hover-4-content">
          <h3 class="hover-4-title text-uppercase font-weight-bold mb-0"><span class="font-weight-light">Oferta de
            </span>Cierre de Temporada</h3>
          <p class="hover-4-description text-uppercase mb-0 small">
            Esta oferta representa el 70% de descuento, se la conoce como una venta de liquidación que abre la puerta
            para conocer nuevos productos.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row row2">

  <h1 class="display-4 subtit">TOP DE LIBROS EN OFERTAS</h1>

  <div class="col-xs-12 col-md-6 bootstrap snippets bootdeys">
    <!-- product -->
    <div class="product-content product-wrap clearfix">
      <div class="row">
        <div class="col-md-5 col-sm-12 col-xs-12">
          <div class="product-image">
            <img src="assets/Recursos/Imagenes/librolista11.jpg" alt="60x60" class="img-responsive">

          </div>
        </div>
        <div class="col-md-7 col-sm-12 col-xs-12">
          <div class="product-deatil">
            <h5 class="name">
              <a>
                Titulo: Divergente <span>Categoria: Inverno</span>
              </a>
            </h5>
            <p class="price-container">
              <span>$65</span>
            </p>
            <span class="tag1"></span>
          </div>
          <div class="description">
            <p>Aprovecha esta promoción solo disponible los primeros 3 dias de cada mes </p>
          </div>
          <div class="product-info smart-form">
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-6">
                <a href=" carrito" class="btn btn-success">Add to cart</a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end product -->
  </div>
  <div class="col-xs-12 col-md-6 bootstrap snippets bootdeys">
    <!-- product -->
    <div class="product-content product-wrap clearfix">
      <div class="row">
        <div class="col-md-5 col-sm-12 col-xs-12">
          <div class="product-image">
            <img src="assets/Recursos/Imagenes/librolista21.jpg" alt="60x60" class="img-responsive">

          </div>
        </div>
        <div class="col-md-7 col-sm-12 col-xs-12">
          <div class="product-deatil">
            <h5 class="name">
              <a>
                Titulo: Nieve como Cenizas <span>Categoria: Verano</span>
              </a>
            </h5>
            <p class="price-container">
              <span>$70</span>
            </p>
            <span class="tag1"></span>
          </div>
          <div class="description">
            <p>Aprovecha esta promoción solo disponible los primeros 3 dias de cada mes</p>
          </div>
          <div class="product-info smart-form">
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-6">
                <a href=" carrito" class="btn btn-success">Add to cart</a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end product -->
  </div>
  <div class="col-xs-12 col-md-6 bootstrap snippets bootdeys">
    <!-- product -->
    <div class="product-content product-wrap clearfix">
      <div class="row">
        <div class="col-md-5 col-sm-12 col-xs-12">
          <div class="product-image">
            <img src="assets/Recursos/Imagenes/librolista31.jpg" alt="60x60" class="img-responsive">

          </div>
        </div>
        <div class="col-md-7 col-sm-12 col-xs-12">
          <div class="product-deatil">
            <h5 class="name">
              <a>
                Titulo: Atlantida <span>Categoria: Cierre de Temporada </span>
              </a>
            </h5>
            <p class="price-container">
              <span>$40</span>
            </p>
            <span class="tag1"></span>
          </div>
          <div class="description">
            <p>Aprovecha esta promoción solo disponible del 20 al 30 de cada mes</p>
          </div>
          <div class="product-info smart-form">
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-6">
                <a href=" carrito" class="btn btn-success">Add to cart</a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end product -->
  </div>
  <div class="col-xs-12 col-md-6 bootstrap snippets bootdeys">
    <!-- product -->
    <div class="product-content product-wrap clearfix">
      <div class="row">
        <div class="col-md-5 col-sm-12 col-xs-12">
          <div class="product-image">
            <img src="assets/Recursos/Imagenes/librolista41.jpg" alt="160x260" class="img-responsive">

          </div>
        </div>
        <div class="col-md-7 col-sm-12 col-xs-12">
          <div class="product-deatil">
            <h5 class="name">
              <a>
                Titulo: Narnia <span>Categoria: Fecha especial</span>
              </a>
            </h5>
            <p class="price-container">
              <span>$80</span>
            </p>
            <span class="tag1"></span>
          </div>
          <div class="description">
            <p> Esta oferta representa el 50% de descuento por Black Friday, Cyber Monday, Día de las Madres o padre,
              Navidad </p>
          </div>
          <div class="product-info smart-form">
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-6">
                <a href=" carrito" class="btn btn-success">Add to cart</a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end product -->
</div>






<!--
<br>
<button mat-raised-button color="accent" (click)="openDialogAgregar()"> Agregar</button>
<br><br>
<mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ingrese información" #input>
</mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table table-hover">
  
    <ng-container matColumnDef="Temporada">
      <th mat-header-cell *matHeaderCellDef> Temporada </th>
      <td mat-cell *matCellDef="let element"> {{element.Temporada}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Categorias">
      <th mat-header-cell *matHeaderCellDef> Categorias </th>
      <td mat-cell *matCellDef="let element"> {{element.Categorias}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Precio">
      <th mat-header-cell *matHeaderCellDef> Precio </th>
      <td mat-cell *matCellDef="let element"> {{element.Precio}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Descuento">
      <th mat-header-cell *matHeaderCellDef> Descuento </th>
      <td mat-cell *matCellDef="let element"> {{element.Descuento}} </td>
    </ng-container>

    <ng-container matColumnDef="Descripcion">
        <th mat-header-cell *matHeaderCellDef> Descripcion </th>
        <td mat-cell *matCellDef="let element"> {{element.Descripcion}}</td>
      </ng-container>    
      <ng-container matColumnDef="Modificar">
        <th mat-header-cell *matHeaderCellDef> Opciones </th>
        <td mat-cell *matCellDef="let element"><button mat-raised-button color="accent" (click)="openDialogModificar(element)">Modificar</button></td>
      </ng-container>        


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Asegurese que la información solicitada exista"{{input.value}}"</td>
    </tr>
    
  </table> -->