<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<h3 class="font-weight-bold mb-0" id="TituloOf">BIENVENIDO CONOCÉ MAS ACERCA DE NUESTRAS OFERTAS</h3>

<div id="imagenes">
  <div class="thumb">
    <a>
      <span>OFERTAS ESPECIALES EN TODOS NUESTROS PRODUCTOS</span>
    </a>
  </div>
  <div class="thumb">
    <a id="Imagen2">
      <span>PRODUCTOS EXCLUSIVOS EN OFERTAS</span>
    </a>
  </div>
  <div class="thumb">
    <a id="Imagen3">
      <span>LAS MEJORES OFERTAS A LA COMODIDAD DE TU BOLSILLO</span>
    </a>
  </div>
</div>

<div class="py-5">
  <h3 class="font-weight-bold mb-0" id="TiposOfertas">CONOCE DE NUESTRAS OFERTAS FIJAS EN NUESTROS PRODUCTOS</h3>

  <div class="row row2">
    <!-- DEMO 4 Item-->
    <div class="col-lg-6 mb-3 mb-lg-0">
      <div class="hover hover-4 text-white rounded"><img src="assets/Recursos/Imagenes/verano1.jpg" alt="">
        <div class="hover-overlay"></div>
        <div class="hover-4-content">
          <h3 class="hover-4-title text-uppercase font-weight-bold mb-0"><span class="font-weight-light">Oferta de
            </span>Verano</h3>
          <p class="hover-4-description text-uppercase mb-0 small">
            Esta oferta representa el 15% de descuento para productos exclusivos</p>
        </div>
      </div>
    </div>
    <!-- DEMO 4 Item -->
    <div class="col-lg-6">
      <div class="hover hover-4 text-white rounded"><img src="assets/Recursos/Imagenes/invierno.jpg" alt="">
        <div class="hover-overlay"></div>
        <div class="hover-4-content">
          <h3 class="hover-4-title text-uppercase font-weight-bold mb-0"><span class="font-weight-light">Oferta de
            </span>Invierno</h3>
          <p class="hover-4-description text-uppercase mb-0 small">
            Esta oferta representa el 30% de descuento para elevar nuestras ventas en esta temporada </p>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="hover hover-4 text-white rounded"><img src="assets/Recursos/Imagenes/blackfriday.jpg" alt="">
        <div class="hover-overlay"></div>
        <div class="hover-4-content">
          <h3 class="hover-4-title text-uppercase font-weight-bold mb-0"><span class="font-weight-light">Oferta de
            </span>Fechas Especiales</h3>
          <p class="hover-4-description text-uppercase mb-0 small">
            Esta oferta representa el 50% de descuento por Black Friday, Cyber Monday, Día de las Madres o padre,
            Navidad</p>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="hover hover-4 text-white rounded"><img src="assets/Recursos/Imagenes/cierre.jpg" alt="">
        <div class="hover-overlay"></div>
        <div class="hover-4-content">
          <h3 class="hover-4-title text-uppercase font-weight-bold mb-0"><span class="font-weight-light">Oferta de
            </span>Cierre de Temporada</h3>
          <p class="hover-4-description text-uppercase mb-0 small">
            Esta oferta representa el 70% de descuento, se la conoce como una venta de liquidación que abre la puerta
            para conocer nuevos productos.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row row2">

  <h1 class="display-4 subtit">LIBROS EN OFERTAS</h1>

  <br>
  <br><br>
  <!--
   
  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ingrese información" #input>
  </mat-form-field>
  
 -->

  <form [formGroup]="ofertaNuevo">
    <mat-form-field class="campos-field">
      <input matInput placeholder="Ingrese la temporada o la categoria" formControlName="busqueda">
    </mat-form-field>

    <button mat-raised-button color="accent" (click)="cargarTodasOfertas()"> Todas las ofertas</button>
    <button mat-raised-button [disabled]="!ofertaNuevo.valid" color="accent" (click)="cargarOfertasCategoria()"> Buscar
      por Categoria</button>
    <button mat-raised-button [disabled]="!ofertaNuevo.valid" color="accent" (click)="cargarOfertasTemporada()"> Buscar
      por Temporada</button>

  </form>
</div>


<div>
  <br>
  <br>
  <h1 class="display-4 subtit">LIBROS DE FICCION EN OFERTA</h1>
  <br>
  <div id="nuevoform" onsubmit="cargarTodasFiccion()">

    <div class="hero-container">
      <div class="main-container" *ngFor="let oferta of listaOferta">
        <div class="poster-container">
          <a href="#"><img src={{oferta.portada}} height="280" width="230" class="poster" /></a>
        </div>
        <div class="ticket-container">
          <div class="ticket__content">
            <h4 class="ticket__movie-title">{{oferta.titulo}}</h4>
            <span>Autor: {{oferta.idAuto.nombreAutor}}</span><br>
            <span>Categoria: {{oferta.idCategori.nombre}}</span><br>
            <span>Temporada: {{oferta.idOferta.temporada}}</span><br>
            <p class="ticket__old-price">% {{oferta.idOferta.descuento}}</p>
            <p class="ticket__current-price">$ {{oferta.precio}}</p>
            <button href="carrito" class="ticket__buy-btn">Add to cart</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div>
  <br>
  <br>
  <h1 class="display-4 subtit">LIBROS DE MISTERIO EN OFERTA</h1>
  <br>
  <div id="nuevoform" onsubmit="cargarTodasMisterio()">

    <div class="hero-container">
      <div class="main-container" *ngFor="let oferta of listaOferta">
        <div class="poster-container">
          <a href="#"><img src={{oferta.portada}} height="280" width="230" class="poster" /></a>
        </div>
        <div class="ticket-container">
          <div class="ticket__content">
            <h4 class="ticket__movie-title">{{oferta.titulo}}</h4>
            <span>Autor: {{oferta.idAuto.nombreAutor}}</span><br>
            <span>Categoria: {{oferta.idCategori.nombre}}</span><br>
            <span>Temporada: {{oferta.idOferta.temporada}}</span><br>
            <p class="ticket__old-price">% {{oferta.idOferta.descuento}}</p>
            <p class="ticket__current-price">$ {{oferta.precio}}</p>
            <button href=" carrito" class="ticket__buy-btn">Add to cart</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>



<div>
  <br>
  <br>
  <h1 class="display-4 subtit">LIBROS CLASICOS EN OFERTA</h1>
  <br>
  <div id="nuevoform" onsubmit="cargarTodasClasico()">

    <div class="hero-container">
      <div class="main-container" *ngFor="let oferta of listaOferta">
        <div class="poster-container">
          <a href="#"><img src={{oferta.portada}} height="280" width="230" class="poster" /></a>
        </div>
        <div class="ticket-container">
          <div class="ticket__content">
            <h4 class="ticket__movie-title">{{oferta.titulo}}</h4>
            <span>Autor: {{oferta.idAuto.nombreAutor}}</span><br>
            <span>Categoria: {{oferta.idCategori.nombre}}</span><br>
            <span>Temporada: {{oferta.idOferta.temporada}}</span><br>
            <p class="ticket__old-price">% {{oferta.idOferta.descuento}}</p>
            <p class="ticket__current-price">$ {{oferta.precio}}</p>
            <button href=" carrito" class="ticket__buy-btn">Add to cart</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<div>
  <br>
  <br>
  <h1 class="display-4 subtit">LIBROS DE FANTASIA EN OFERTA</h1>
  <br>
  <div id="nuevoform" onsubmit="cargarTodasFantasia()">

    <div class="hero-container">
      <div class="main-container" *ngFor="let oferta of listaOferta">
        <div class="poster-container">
          <a href="#"><img src={{oferta.portada}} height="280" width="230" class="poster" /></a>
        </div>
        <div class="ticket-container">
          <div class="ticket__content">
            <h4 class="ticket__movie-title">{{oferta.titulo}}</h4>
            <span>Autor: {{oferta.idAuto.nombreAutor}}</span><br>
            <span>Categoria: {{oferta.idCategori.nombre}}</span><br>
            <span>Temporada: {{oferta.idOferta.temporada}}</span><br>
            <p class="ticket__old-price">% {{oferta.idOferta.descuento}}</p>
            <p class="ticket__current-price">$ {{oferta.precio}}</p>
            <button href=" carrito" class="ticket__buy-btn">Add to cart</button>
         </div>
        
        </div>
      </div>

    </div>
  </div>
</div>

<br>

<!-- end product 
<button mat-raised-button color="accent" (click)="openDialogAgregar()"> Agregar</button>

-->