.row2{
  width: 99%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  margin: 1%;

}
.subtit{
  text-align: center;
  margin-bottom: 0%;
}
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
/*Imagen*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

#imagenes {
  text-align: center;
    background: #ddd;
    background: linear-gradient(#ddd, #e8e8e8);
    font-family: 'Open Sans', sans-serif;
    margin:0;
}

.thumb {
  display:inline-block;
    width: 425px;
    height: 380px;
    margin: 0.2%;
    margin-bottom: 3%;
    margin-top: 2%;

    perspective: 1000px;
}
.thumb:nth-child(1) {
  padding: 0.5%;

 }
.thumb:nth-child(2) {
    padding: 0.5%;
}
.thumb:nth-child(3) {
  padding: 0.5%;
}

.thumb a {
    display:block;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
		url("../../assets/Recursos/Imagenes/imagen3.jpg");
    background-size: 0, cover;
    transform-style: preserve-3d;
    transition: all 0.5s;
}
.thumb #Imagen2 {
  display:block;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
  url("../../assets/Recursos/Imagenes/imagen4.jpg");
  background-size: 0, cover;
  transform-style: preserve-3d;
  transition: all 0.5s;
}
.thumb #Imagen3 {
  display:block;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
  url("../../assets/Recursos/Imagenes/imagenlibro.jpg");
  background-size: 0, cover;
  transform-style: preserve-3d;
  transition: all 0.5s;
}
.thumb:hover a {
    transform: rotateX(80deg);
    transform-origin: bottom;
}
.thumb a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 36px;
    background: inherit;
    background-size: cover, cover;
    background-position: bottom;
    transform: rotateX(90deg);
    transform-origin: bottom;
}
.thumb a span {
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    font: bold 12px/36px "Open Sans";
    text-align: center;
    transform: rotateX(-89.99deg);
    transform-origin: top;
    z-index: 1;
}
.thumb a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
    opacity: 0.15;
    transform: rotateX(95deg) translateZ(-80px) scale(0.75);
    transform-origin: bottom;
}

.thumb:hover a:before {
    opacity: 1;
    box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.5);
    transform: rotateX(0) translateZ(-60px) scale(0.85);
}



/* DEMO GENERAL ============================== */
.hover {
  overflow: hidden;
  position: relative;
  padding-bottom:38%;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 5%;


}

.hover-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  transition: all 0.4s;
}

.hover img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s;
}

.hover-content {
  position: absolute;
  z-index: 99;
}

#TiposOfertas{
text-align: center;
font-size: 22px;
}
#TituloOf{
  text-align: center;
  font-size: 22px;
  background-color:#ddd;
  padding-top:2%;

}
/*Mostrar*/

.hover-4 img {
  width: 110%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hover-4 .hover-overlay {
  background: rgba(0, 0, 0, 0.4);
  z-index: 90;
}

.hover-4-title {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 3rem;
  z-index: 99;
}

.hover-4-description {
  position: absolute;
  top: 2rem;
  left: 2rem;
  text-align: right;
  border-right: 3px solid #fff;
  padding: 0 1rem;
  z-index: 99;
  transform: translateX(-1.5rem);
  opacity: 0;
  transition: all 0.3s;
}

@media (min-width: 992px) {
  .hover-4-description {
    width: 50%;
  }
}

.hover-4:hover img {
  width: 100%;
}

.hover-4:hover::after {
  opacity: 1;
  transform: none;
}

.hover-4:hover .hover-4-description {
  opacity: 1;
  transform: none;
}

.hover-4:hover .hover-overlay {
  background: rgba(0, 0, 0, 0.8);
}

/*Tabla
#Tabla1{
  background: linear-gradient(to right, #c04848, #480048);min-height: 100vh}
  
  .text-gray{
    color: #aaa
  }
  
  #Tabla1 img{
  
    height: 170px;width: 140px
  }

*/
/*Libros lista*/


  #lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ddd;
    padding: 0%;
    width: 100%;
  }
    
  #lista .text-gray{
      
      color: #aaa}
   
   #lista h1{
        margin-top: 10px;
        color: black}
       
      

   
/***/


.product-content {
  border: 2px solid #dfe5e9;
  margin-bottom: 20px;
  margin-top: 12px;
  background: #fff;
  width: 95%;
  padding: 4px;
      -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
}

.product-content .carousel-control.left {
  margin-left: 0
}

.product-content .product-image {
  background-color: #fff;
  display: block;
  overflow: hidden;
  text-align: center;
}

.product-content .product-deatil {
  border-bottom: 1px solid #dfe5e9;
  padding-bottom: 17px;
  padding-left: 16px;
  padding-top: 16px;
  position: relative;
  background: #fff
}

.product-content .product-deatil h5 a {
  color: #2f383d;
  font-size: 15px;
  line-height: 19px;
  text-decoration: none;
  padding-left: 0;
  margin-left: 0
}

.product-content .product-deatil h5 a span {
  color: #9aa7af;
  display: block;
  font-size: 13px
}

.product-content .product-deatil span.tag1 {
  border-radius: 50%;
  color: #fff;
  font-size: 15px;
  height: 50px;
  padding: 13px 0;
  position: absolute;
  right: 10px;
  text-align: center;
  top: 10px;
  width: 50px
}

.product-content .product-deatil span.sale {
  background-color: #21c2f8
}

.product-content .product-deatil span.discount {
  background-color: #71e134
}

.product-content .product-deatil span.hot {
  background-color: #fa9442
}

.product-content .description {
  font-size: 12.5px;
  line-height: 20px;
  padding: 10px 14px 16px 19px;
  background: #fff
}

.product-content .product-info {
  padding: 11px 19px 10px 20px
}

.product-content .product-info a.add-to-cart {
  color: #2f383d;
  font-size: 13px;
  padding-left: 16px
}

.product-content name.a {
  padding: 5px 10px;
  margin-left: 16px
}

.product-info.smart-form .btn {
  padding: 6px 12px;
  margin-left: 12px;
  margin-top: -10px
}

.product-entry .product-deatil {
  border-bottom: 1px solid #dfe5e9;
  padding-bottom: 17px;
  padding-left: 16px;
  padding-top: 16px;
  position: relative
}

.product-entry .product-deatil h5 a {
  color: #2f383d;
  font-size: 15px;
  line-height: 19px;
  text-decoration: none
}

.product-entry .product-deatil h5 a span {
  color: #9aa7af;
  display: block;
  font-size: 13px
}

.load-more-btn {
  background-color: #21c2f8;
  border-bottom: 2px solid #037ca5;
  border-radius: 2px;
  border-top: 2px solid #0cf;
  margin-top: 20px;
  padding: 9px 0;
  width: 100%
}

.product-block .product-deatil p.price-container span,
.product-content .product-deatil p.price-container span,
.product-entry .product-deatil p.price-container span,
.shipping table tbody tr td p.price-container span,
.shopping-items table tbody tr td p.price-container span {
  color: #21c2f8;
  font-family: Lato, sans-serif;
  font-size: 24px;
  line-height: 20px
}

.product-info.smart-form .rating label {
  margin-top: 0
}

.product-wrap .product-image span.tag2 {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  padding: 10px 0;
  color: #fff;
  font-size: 11px;
  text-align: center
}

.product-wrap .product-image span.sale {
  background-color: #57889c
}

.product-wrap .product-image span.hot {
  background-color: #a90329
}

.shop-btn {
  position: relative
}

.shop-btn>span {
  background: #a90329;
  display: inline-block;
  font-size: 10px;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
  font-weight: 700;
  border-radius: 50%;
  padding: 2px 4px 3px!important;
  text-align: center;
  line-height: normal;
  width: 19px;
  top: -7px;
  left: -7px;
}

.description-tabs {
  padding: 30px 0 5px!important
}

.description-tabs .tab-content {
  padding: 10px 0
}

.product-deatil {
  padding: 30px 30px 50px
}

.product-deatil hr+.description-tabs {
  padding: 0 0 5px!important
}

.product-deatil .carousel-control.left,
.product-deatil .carousel-control.right {
  background: none!important
}

.product-deatil .glyphicon {
  color: #3276b1
}

.product-deatil .product-image {
  border-right: 0px solid #fff !important
}

.product-deatil .name {
  margin-top: 0;
  margin-bottom: 0
}

.product-deatil .name small {
  display: block
}

.product-deatil .name a {
  margin-left: 0
}

.product-deatil .price-container {
  font-size: 24px;
  margin: 0;
  font-weight: 300
}

.product-deatil .price-container small {
  font-size: 12px
}

.product-deatil .fa-2x {
  font-size: 16px!important
}

.product-deatil .fa-2x>h5 {
  font-size: 12px;
  margin: 0
}

.product-deatil .fa-2x+a,
.product-deatil .fa-2x+a+a {
  font-size: 13px
}

.product-deatil .certified {
  margin-top: 10px
}

.product-deatil .certified ul {
  padding-left: 0
}

.product-deatil .certified ul li:not(first-child) {
  margin-left: -3px
}

.product-deatil .certified ul li {
  display: inline-block;
  background-color: #f9f9f9;
  padding: 13px 19px
}

.product-deatil .certified ul li:first-child {
  border-right: none
}

.product-deatil .certified ul li a {
  text-align: left;
  font-size: 12px;
  color: #6d7a83;
  line-height: 16px;
  text-decoration: none
}

.product-deatil .certified ul li a span {
  display: block;
  color: #21c2f8;
  font-size: 13px;
  font-weight: 700;
  text-align: center
}

.product-deatil .message-text {
  width: calc(100% - 70px)
}

@media only screen and (min-width:1024px) {
  .product-content div[class*=col-md-4] {
      padding-right: 0
  }
  .product-content div[class*=col-md-8] {
      padding: 0 13px 0 0
  }
  .product-wrap div[class*=col-md-5] {
      padding-right: 0
  }
  .product-wrap div[class*=col-md-7] {
      padding: 0 13px 0 0
  }
  .product-content .product-image {
      border-right: 1px solid #dfe5e9
  }
  .product-content .product-info {
      position: relative
  }
}




@import url('https://fonts.googleapis.com/css?family=Lato');

/* default */
#contedorprincipal2  *,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedorclasificados{
  background: #dddd;
}

.contenedorclasificado1{
  background: white;

}

/* body */
#contedorprincipal2 {
   padding-right: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  
  font-family: "Lato", "Segoe Ui", -apple-system, BlinkMacSystemFont, sans-serif;
}

/* .flip-card-container */
#contedorprincipal2 .flip-card-container {
  --hue: 150;
  --primary: hsl(var(--hue), 50%, 50%);
  --white-1: white;
  --white-2: white;
  --dark: hsl(var(--hue), 25%, 10%);
  --grey: hsl(0, 0%, 50%);

  width: 320px;
  height: 460px;
  margin: 40px;

  perspective: 1000px;
}

/* .flip-card */
#contedorprincipal2 .flip-card {
  width: inherit;
  height: inherit;

  position: relative;
  transform-style: preserve-3d;
  transition: .6s .1s;
}

/* hover and focus-within states */
#contedorprincipal2 .flip-card-container:hover .flip-card,
.flip-card-container:focus-within .flip-card {
  transform: rotateY(180deg);
}

/* .card-... */
#contedorprincipal2 .card-front,
.card-back {
  width: 100%;
  height: 100%;
  border-radius: 24px;

  background: var(--dark);
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;

  backface-visibility: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* .card-front */
#contedorprincipal2 .card-front {
  transform: rotateY(0deg);
  z-index: 2;
}

/* .card-back */
#contedorprincipal2 .card-back {
  transform: rotateY(180deg);
  z-index: 1;
}

/* figure */
#contedorprincipal2 figure {
  z-index: -1;
}

/* figure, .img-bg */
#contedorprincipal2 figure,
.img-bg {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

/* img */
#contedorprincipal2 img {
  height: 100%;
  border-radius: 24px;
}

/* figcaption */
#contedorprincipal2 figcaption {
  display: block;

  width: auto;
  margin-top: 12%;
  padding: 8px 22px;

  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 2px;
  word-spacing: 6px;
  text-align: right;

  position: absolute;
  top: 0;
  right: 12px;

  color: var(--white-1);
  background: hsla(var(--hue), 25%, 10%, .5);
}

/* .img-bg */
#contedorprincipal2 .img-bg {
  background: hsla(var(--hue), 25%, 10%, .5);
}

#contedorprincipal2 .card-front .img-bg {
  clip-path: polygon(0 20%, 100% 40%, 100% 100%, 0 100%);
}

#contedorprincipal2 .card-front .img-bg::before {
  content: "";

  position: absolute;
  top: 34%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(18deg);

  width: 100%;
  height: 6px;
  border: 1px solid var(--primary);
  border-left-color: transparent;
  border-right-color: transparent;

  transition: .1s;
}

#contedorprincipal2 .card-back .img-bg {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 60%);
}

/* hover state */
#contedorprincipal2 .flip-card-container:hover .card-front .img-bg::before {
  width: 6px;
  border-left-color: var(--primary);
  border-right-color: var(--primary);
}

/* ul */
#contedorprincipal2 ul {
  padding-top: 50%;
  margin: 0;
  width: 65%;
  height: 100%;

  list-style: none;
  color: var(--white-1);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* li */
#contedorprincipal2 li {
  width: 100%;
  margin-top: 12px;
  padding-bottom: 12px;

  font-size: 17.5px;
  text-align: center;

  position: relative;
}

#contedorprincipal2 li:nth-child(2n) {
  color: var(--white-2);
}

#contedorprincipal2 li:not(:last-child)::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 1px;

  background: currentColor;
  opacity: .2;
}

/* button */
#contedorprincipal2 button {
  font-family: inherit;
  font-weight: bold;
  color: var(--white-1);

  letter-spacing: 2px;

  padding: 9px 20px;
  border: 1px solid var(--grey);
  border-radius: 1000px;
  background: transparent;
  transition: .3s;

  cursor: pointer;
}

#contedorprincipal2 button:hover,
button:focus {
  color: var(--primary);
  background: hsla(var(--hue), 25%, 10%, .2);
  border-color: currentColor;
}

#contedorprincipal2 button:active {
  transform: translate(2px);
}

/* .design-container */
#contedorprincipal2 .design-container {
  --tr: 90;
  --op: .5;

  width: 100%;
  height: 100%;

  background: transparent;
  position: absolute;
  top: 0;
  left: 0;

  pointer-events: none;
}

/* .design */
#contedorprincipal2 .design {
  display: block;

  background: var(--grey);
  position: absolute;

  opacity: var(--op);
  transition: .3s;
}

#contedorprincipal2 .design--1,
.design--2,
.design--3,
.design--4 {
  width: 1px;
  height: 100%;
}

#contedorprincipal2 .design--1,
.design--2 {
  top: 0;
  transform: translateY(calc((var(--tr) - (var(--tr) * 2)) * 1%))
}

#contedorprincipal2 .design--1 {
  left: 20%;
}

#contedorprincipal2 .design--2 {
  left: 80%;
}

#contedorprincipal2 .design--3,
.design--4 {
  bottom: 0;
  transform: translateY(calc((var(--tr) + (var(--tr) - var(--tr))) * 1%))
}

#contedorprincipal2 .design--3 {
  left: 24%;
}

#contedorprincipal2 .design--4 {
  left: 76%;
}

#contedorprincipal2 .design--5,
.design--6,
.design--7,
.design--8 {
  width: 100%;
  height: 1px;
}

#contedorprincipal2 .design--5,
.design--6 {
  left: 0;
  transform: translateX(calc((var(--tr) - (var(--tr) * 2)) * 1%));
}

#contedorprincipal2 .design--5 {
  top: 41%;
}

#contedorprincipal2 .design--6 {
  top: 59%;
}

#contedorprincipal2 .design--7,
.design--8 {
  right: 0;
  transform: translateX(calc((var(--tr) + (var(--tr) - var(--tr))) * 1%))
}

#contedorprincipal2 .design--7 {
  top: 44%;
}

#contedorprincipal2 .design--8 {
  top: 56%;
}

/* states */
#contedorprincipal2 button:hover+.design-container,
button:active+.design-container,
button:focus+.design-container {
  --tr: 20;
  --op: .7;
}

#contedorprincipal2 .abs-site-link {
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: hsla(0, 0%, 100%, .6);
  font-size: 16px;
  font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, sans-serif;
}