.row2{
  width: 99%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  margin: 1%;

}
.subtit{
  text-align: center;
  margin-bottom: 3%;
}
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
/*Imagen*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

#imagenes {
  text-align: center;
    background: #ddd;
    background: linear-gradient(#ddd, #e8e8e8);
    font-family: 'Open Sans', sans-serif;
    margin:0;
}

.thumb {
  display:inline-block;
    width: 425px;
    height: 380px;
    margin: 0.2%;
    margin-bottom: 3%;
    margin-top: 2%;

    perspective: 1000px;
}
.thumb:nth-child(1) {
  padding: 0.5%;

 }
.thumb:nth-child(2) {
    padding: 0.5%;
}
.thumb:nth-child(3) {
  padding: 0.5%;
}

.thumb a {
    display:block;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
		url("../../assets/Recursos/Imagenes/imagen3.jpg");
    background-size: 0, cover;
    transform-style: preserve-3d;
    transition: all 0.5s;
}
.thumb #Imagen2 {
  display:block;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
  url("../../assets/Recursos/Imagenes/imagen4.jpg");
  background-size: 0, cover;
  transform-style: preserve-3d;
  transition: all 0.5s;
}
.thumb #Imagen3 {
  display:block;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
  url("../../assets/Recursos/Imagenes/imagenlibro.jpg");
  background-size: 0, cover;
  transform-style: preserve-3d;
  transition: all 0.5s;
}
.thumb:hover a {
    transform: rotateX(80deg);
    transform-origin: bottom;
}
.thumb a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 36px;
    background: inherit;
    background-size: cover, cover;
    background-position: bottom;
    transform: rotateX(90deg);
    transform-origin: bottom;
}
.thumb a span {
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    font: bold 12px/36px "Open Sans";
    text-align: center;
    transform: rotateX(-89.99deg);
    transform-origin: top;
    z-index: 1;
}
.thumb a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
    opacity: 0.15;
    transform: rotateX(95deg) translateZ(-80px) scale(0.75);
    transform-origin: bottom;
}

.thumb:hover a:before {
    opacity: 1;
    box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.5);
    transform: rotateX(0) translateZ(-60px) scale(0.85);
}



/* DEMO GENERAL ============================== */
.hover {
  overflow: hidden;
  position: relative;
  padding-bottom:38%;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 5%;


}

.hover-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  transition: all 0.4s;
}

.hover img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s;
}

.hover-content {
  position: absolute;
  z-index: 99;
}

#TiposOfertas{
text-align: center;
font-size: 22px;
}
#TituloOf{
  text-align: center;
  font-size: 22px;
  background-color:#ddd;
  padding-top:2%;

}
/*Mostrar*/

.hover-4 img {
  width: 110%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hover-4 .hover-overlay {
  background: rgba(0, 0, 0, 0.4);
  z-index: 90;
}

.hover-4-title {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 3rem;
  z-index: 99;
}

.hover-4-description {
  position: absolute;
  top: 2rem;
  left: 2rem;
  text-align: right;
  border-right: 3px solid #fff;
  padding: 0 1rem;
  z-index: 99;
  transform: translateX(-1.5rem);
  opacity: 0;
  transition: all 0.3s;
}

@media (min-width: 992px) {
  .hover-4-description {
    width: 50%;
  }
}

.hover-4:hover img {
  width: 100%;
}

.hover-4:hover::after {
  opacity: 1;
  transform: none;
}

.hover-4:hover .hover-4-description {
  opacity: 1;
  transform: none;
}

.hover-4:hover .hover-overlay {
  background: rgba(0, 0, 0, 0.8);
}

/*Tabla
#Tabla1{
  background: linear-gradient(to right, #c04848, #480048);min-height: 100vh}
  
  .text-gray{
    color: #aaa
  }
  
  #Tabla1 img{
  
    height: 170px;width: 140px
  }

*/
/*Libros lista*/


  #lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ddd;
    padding: 0%;
    width: 100%;
  }
    
  #lista .text-gray{
      
      color: #aaa}
   
   #lista h1{
        margin-top: 10px;
        color: black}
       
      

   
/***/


.product-content {
  border: 2px solid #dfe5e9;
  margin-bottom: 20px;
  margin-top: 12px;
  background: #fff;
  width: 95%;
  padding: 4px;
      -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
}

.product-content .carousel-control.left {
  margin-left: 0
}

.product-content .product-image {
  background-color: #fff;
  display: block;
  overflow: hidden;
  text-align: center;
}

.product-content .product-deatil {
  border-bottom: 1px solid #dfe5e9;
  padding-bottom: 17px;
  padding-left: 16px;
  padding-top: 16px;
  position: relative;
  background: #fff
}

.product-content .product-deatil h5 a {
  color: #2f383d;
  font-size: 15px;
  line-height: 19px;
  text-decoration: none;
  padding-left: 0;
  margin-left: 0
}

.product-content .product-deatil h5 a span {
  color: #9aa7af;
  display: block;
  font-size: 13px
}

.product-content .product-deatil span.tag1 {
  border-radius: 50%;
  color: #fff;
  font-size: 15px;
  height: 50px;
  padding: 13px 0;
  position: absolute;
  right: 10px;
  text-align: center;
  top: 10px;
  width: 50px
}

.product-content .product-deatil span.sale {
  background-color: #21c2f8
}

.product-content .product-deatil span.discount {
  background-color: #71e134
}

.product-content .product-deatil span.hot {
  background-color: #fa9442
}

.product-content .description {
  font-size: 12.5px;
  line-height: 20px;
  padding: 10px 14px 16px 19px;
  background: #fff
}

.product-content .product-info {
  padding: 11px 19px 10px 20px
}

.product-content .product-info a.add-to-cart {
  color: #2f383d;
  font-size: 13px;
  padding-left: 16px
}

.product-content name.a {
  padding: 5px 10px;
  margin-left: 16px
}

.product-info.smart-form .btn {
  padding: 6px 12px;
  margin-left: 12px;
  margin-top: -10px
}

.product-entry .product-deatil {
  border-bottom: 1px solid #dfe5e9;
  padding-bottom: 17px;
  padding-left: 16px;
  padding-top: 16px;
  position: relative
}

.product-entry .product-deatil h5 a {
  color: #2f383d;
  font-size: 15px;
  line-height: 19px;
  text-decoration: none
}

.product-entry .product-deatil h5 a span {
  color: #9aa7af;
  display: block;
  font-size: 13px
}

.load-more-btn {
  background-color: #21c2f8;
  border-bottom: 2px solid #037ca5;
  border-radius: 2px;
  border-top: 2px solid #0cf;
  margin-top: 20px;
  padding: 9px 0;
  width: 100%
}

.product-block .product-deatil p.price-container span,
.product-content .product-deatil p.price-container span,
.product-entry .product-deatil p.price-container span,
.shipping table tbody tr td p.price-container span,
.shopping-items table tbody tr td p.price-container span {
  color: #21c2f8;
  font-family: Lato, sans-serif;
  font-size: 24px;
  line-height: 20px
}

.product-info.smart-form .rating label {
  margin-top: 0
}

.product-wrap .product-image span.tag2 {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  padding: 10px 0;
  color: #fff;
  font-size: 11px;
  text-align: center
}

.product-wrap .product-image span.sale {
  background-color: #57889c
}

.product-wrap .product-image span.hot {
  background-color: #a90329
}

.shop-btn {
  position: relative
}

.shop-btn>span {
  background: #a90329;
  display: inline-block;
  font-size: 10px;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
  font-weight: 700;
  border-radius: 50%;
  padding: 2px 4px 3px!important;
  text-align: center;
  line-height: normal;
  width: 19px;
  top: -7px;
  left: -7px;
}

.description-tabs {
  padding: 30px 0 5px!important
}

.description-tabs .tab-content {
  padding: 10px 0
}

.product-deatil {
  padding: 30px 30px 50px
}

.product-deatil hr+.description-tabs {
  padding: 0 0 5px!important
}

.product-deatil .carousel-control.left,
.product-deatil .carousel-control.right {
  background: none!important
}

.product-deatil .glyphicon {
  color: #3276b1
}

.product-deatil .product-image {
  border-right: 0px solid #fff !important
}

.product-deatil .name {
  margin-top: 0;
  margin-bottom: 0
}

.product-deatil .name small {
  display: block
}

.product-deatil .name a {
  margin-left: 0
}

.product-deatil .price-container {
  font-size: 24px;
  margin: 0;
  font-weight: 300
}

.product-deatil .price-container small {
  font-size: 12px
}

.product-deatil .fa-2x {
  font-size: 16px!important
}

.product-deatil .fa-2x>h5 {
  font-size: 12px;
  margin: 0
}

.product-deatil .fa-2x+a,
.product-deatil .fa-2x+a+a {
  font-size: 13px
}

.product-deatil .certified {
  margin-top: 10px
}

.product-deatil .certified ul {
  padding-left: 0
}

.product-deatil .certified ul li:not(first-child) {
  margin-left: -3px
}

.product-deatil .certified ul li {
  display: inline-block;
  background-color: #f9f9f9;
  padding: 13px 19px
}

.product-deatil .certified ul li:first-child {
  border-right: none
}

.product-deatil .certified ul li a {
  text-align: left;
  font-size: 12px;
  color: #6d7a83;
  line-height: 16px;
  text-decoration: none
}

.product-deatil .certified ul li a span {
  display: block;
  color: #21c2f8;
  font-size: 13px;
  font-weight: 700;
  text-align: center
}

.product-deatil .message-text {
  width: calc(100% - 70px)
}

@media only screen and (min-width:1024px) {
  .product-content div[class*=col-md-4] {
      padding-right: 0
  }
  .product-content div[class*=col-md-8] {
      padding: 0 13px 0 0
  }
  .product-wrap div[class*=col-md-5] {
      padding-right: 0
  }
  .product-wrap div[class*=col-md-7] {
      padding: 0 13px 0 0
  }
  .product-content .product-image {
      border-right: 1px solid #dfe5e9
  }
  .product-content .product-info {
      position: relative
  }
}