<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<h3 class="font-weight-bold mb-0" id="TituloOf">BIENVENIDO CONOCÉ MAS ACERCA DE NUESTRAS OFERTAS</h3>

<div id="imagenes">
  <div class="thumb">
    <a>
      <span>OFERTAS ESPECIALES EN TODOS NUESTROS PRODUCTOS</span>
    </a>
  </div>
  <div class="thumb">
    <a id="Imagen2">
      <span>PRODUCTOS EXCLUSIVOS EN OFERTAS</span>
    </a>
  </div>
  <div class="thumb">
    <a id="Imagen3">
      <span>LAS MEJORES OFERTAS A LA COMODIDAD DE TU BOLSILLO</span>
    </a>
  </div>
</div>

<div class="py-5">
  <h3 class="font-weight-bold mb-0" id="TiposOfertas">TIPOS DE OFERTAS</h3>

  <div class="row row2">
    <!-- DEMO 4 Item-->
    <div class="col-lg-6 mb-3 mb-lg-0">
      <div class="hover hover-4 text-white rounded"><img src="assets/Recursos/Imagenes/verano1.jpg" alt="">
        <div class="hover-overlay"></div>
        <div class="hover-4-content">
          <h3 class="hover-4-title text-uppercase font-weight-bold mb-0"><span class="font-weight-light">Oferta de
            </span>Verano</h3>
          <p class="hover-4-description text-uppercase mb-0 small">
            Esta oferta representa el 15% de descuento para productos exclusivos</p>
        </div>
      </div>
    </div>
    <!-- DEMO 4 Item -->
    <div class="col-lg-6">
      <div class="hover hover-4 text-white rounded"><img src="assets/Recursos/Imagenes/invierno.jpg" alt="">
        <div class="hover-overlay"></div>
        <div class="hover-4-content">
          <h3 class="hover-4-title text-uppercase font-weight-bold mb-0"><span class="font-weight-light">Oferta de
            </span>Invierno</h3>
          <p class="hover-4-description text-uppercase mb-0 small">
            Esta oferta representa el 30% de descuento para elevar nuestras ventas en esta temporada </p>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="hover hover-4 text-white rounded"><img src="assets/Recursos/Imagenes/blackfriday.jpg" alt="">
        <div class="hover-overlay"></div>
        <div class="hover-4-content">
          <h3 class="hover-4-title text-uppercase font-weight-bold mb-0"><span class="font-weight-light">Oferta de
            </span>Fechas Especiales</h3>
          <p class="hover-4-description text-uppercase mb-0 small">
            Esta oferta representa el 50% de descuento por Black Friday, Cyber Monday, Día de las Madres o padre,
            Navidad</p>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="hover hover-4 text-white rounded"><img src="assets/Recursos/Imagenes/cierre.jpg" alt="">
        <div class="hover-overlay"></div>
        <div class="hover-4-content">
          <h3 class="hover-4-title text-uppercase font-weight-bold mb-0"><span class="font-weight-light">Oferta de
            </span>Cierre de Temporada</h3>
          <p class="hover-4-description text-uppercase mb-0 small">
            Esta oferta representa el 70% de descuento, se la conoce como una venta de liquidación que abre la puerta
            para conocer nuevos productos.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row row2" >

  <h1 class="display-4 subtit">LIBROS EN OFERTAS</h1>

  <br>
  <button mat-raised-button color="accent" (click)="openDialogAgregar()"> Agregar</button>
  <br><br>
  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ingrese información" #input>
  </mat-form-field>
  
  
