<div id="Fondo">

  <div class="sign">
    <span class="sign__word">AUTORES DESTACADOS 2022</span>


  </div>

  <div id="box">
    <div class="card">
      <div class="imgBx">
        <img src="https://mmedia.eluniversal.com/19002/ariana-godoy-92309.jpg" alt="images">
      </div>
      <div class="details">
        <h2>Ariana Godoy<br><span>Venezuela</span></h2>
      </div>
    </div>

    <div class="card">
      <div class="imgBx">
        <img src="https://upload.wikimedia.org/wikipedia/commons/3/3a/Alicekellenimagen.jpg" alt="images">
      </div>
      <div class="details">
        <h2>Alice Kellen<br><span>España</span></h2>
      </div>
    </div>

    <div class="card">
      <div class="imgBx">
        <img src="https://fivebooks.com/app/uploads/2022/05/john-grisham.jpeg" alt="images">
      </div>
      <div class="details">
        <h2>John Grisham<br><span>Estados Unidos</span></h2>
      </div>
    </div>

  </div>

</div>

<div class="Fondo2">

  <div class="sign2">
    <span class="sign__word">AUTORES</span>

  </div>

  <div class="team-boxed">
    <div class="container">
      
      <div class="row people" >
        <div class="col-md-6 col-lg-4 item" *ngFor="let oferta of listaAutor">
          <div class="box"><img class="rounded-circle" src= {{oferta.fotoAutor}}>
            <h3 class="name">{{oferta.nombreAutor}}</h3>
            <p class="description">{{oferta.biografia}} </p>
            <div class="social">
            <a href={{oferta.twitter}}><i class="fa fa-twitter"></i></a><a href={{oferta.instagram}}><i class="fa fa-instagram"></i></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>



</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">idAutor</th>
      <th scope="col">nombreAutor</th>
      <th scope="col">biografia</th>
      <th scope="col">twitter</th>
      <th scope="col">instagram</th>
      <th scope="col">fotoAutor</th>


    </tr>
  </thead>
  <tbody>
    <div>
      <div *ngFor="let oferta of listaAutor">
        <tr>
          <th>{{oferta.idAutor}}</th>
          <td>{{oferta.nombreAutor}}</td>
          <td>{{oferta.biografia}}</td>
          <td>{{oferta.twitter}}</td>
          <td>{{oferta.instagram}}</td>
          <td>{{oferta.fotoAutor}}</td>
        </tr>

      </div>

    </div>

  </tbody>
</table>


<form [formGroup]="Enombre">
  <mat-form-field class="campos-field">
    <input matInput placeholder="Ingrese la temporada o la categoria" formControlName="nombreAutor">
  </mat-form-field>

 
  <button mat-raised-button [disabled]="!AutorN.valid" color="accent" (click)="cargarAutorNombre()"> Buscar por Nombre</button>
<!-- flip-card-container   <button mat-raised-button [disabled]="!ofertaNuevo.valid" color="accent" (click)="cargarOfertasPrecio()"> Buscar
    por Precio</button>
  -->
</form>