<mat-card> 
    <div style="text-align:center;">
        <mat-card-title>Nueva Oferta</mat-card-title>
    </div>   
    <br>
    <form [formGroup]="formAutor">
        <mat-form-field class="campos-field">
            <input matInput placeholder="Nombre" formControlName="Nombre">
        </mat-form-field>

        <mat-form-field class="campos-field">
            <input matInput placeholder="Biografia" formControlName="Biografia">
        </mat-form-field>

        <mat-form-field class="campos-field">
            <input matInput placeholder="Telefono" formControlName="Telefono">
        </mat-form-field>

        <mat-form-field class="campos-field">
            <input matInput placeholder="Foto" formControlName="Foto">
        </mat-form-field>

       
        <button mat-raised-button color="accent" (click)="cancelar()">Cancelar</button>      
    </form>
    
</mat-card>

