<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="4000">
      <img src="../../assets/Recursos/Imagenes/libro1.jpg" class="d-block w-100" alt="800" height="600">
     <div class="carousel-caption d-none d-md-block">
        <h5>Aqui encuentras los mejores libros </h5>
        <button type="button" class="btn btn-primary">Ver libros</button>
      </div>
    </div>
    <div class="carousel-item active" data-bs-interval="4000">
      <img src="https://wallpaperaccess.com/full/6191149.jpg" class="d-block w-100" alt="800" height="600">
      <div class="carousel-caption d-none d-md-block">
        <h5> Cada alrededor de 20000 libros se ponen en oferta</h5>
        <button type="button" class="btn btn-primary">Ver libros</button>
      </div>
    </div>
    <div class="carousel-item active" data-bs-interval="4000">
      <img src="../../assets/Recursos/Imagenes/libro3.jpg" class="d-block w-100" alt="800" height="600">
      <div class="carousel-caption d-none d-md-block">
        <h5>Contamos con los mejores libros del mercado</h5>
        <button type="button" class="btn btn-primary">Ver libros</button>
          </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<h2 class="subtitulo">CATEGORÍAS</h2>


<div class="card-group">
  <div class="card">
    <img
      src="https://c4.wallpaperflare.com/wallpaper/896/834/538/aventuras-centro-pelicula-tierra-wallpaper-preview.jpg"
      class="card-img-top" alt="...">
    <div class="card-body">
      <h2 class="card-title">FANTASÍA</h2>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
        This content is a little bit longer.</p>

    </div>
  </div>
  <div class="card">
    <img src="https://p4.wallpaperbetter.com/wallpaper/927/35/659/5k-insidious-the-last-key-wallpaper-preview.jpg"
      class="card-img-top" alt="...">
    <div class="card-body">
      <h2 class="card-title">MISTERIO</h2>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>

    </div>
  </div>
  <div class="card">
    <img src="https://p4.wallpaperbetter.com/wallpaper/457/984/25/don-quijote-giant-creature-wallpaper-preview.jpg"
      class="card-img-top" alt="...">
    <div class="card-body">
      <h2 class="card-title">CLÁSICOS</h2>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
        This card has even longer content than the first to show that equal height action.</p>

    </div>
  </div>
  <div class="card">
    <img src="https://images4.alphacoders.com/714/714774.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2 class="card-title">CIENCIA FICCIÓN</h2>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
        This card has even longer content than the first to show that equal height action.</p>
    </div>
  </div>
</div>