<mat-card> 
    <div style="text-align:center;">
        <mat-card-title>Nueva Oferta</mat-card-title>
    </div>   
    <br>
    <form [formGroup]="formOferta">
        <mat-form-field class="campos-field">
            <input matInput placeholder="Temporada" formControlName="Temporada">
        </mat-form-field>

        <mat-form-field class="campos-field">
            <input matInput placeholder="Categorias" formControlName="Categorias">
        </mat-form-field>

        <mat-form-field class="campos-field">
            <input matInput placeholder="Precio" formControlName="Precio">
        </mat-form-field>

        <mat-form-field class="campos-field">
            <input matInput placeholder="Descuento" formControlName="Descuento">
        </mat-form-field>

        <mat-form-field class="campos-field">
            <input matInput placeholder="Descripcion" formControlName="Descripcion">
        </mat-form-field>

            
    </form>
    
</mat-card>
